/* layout.css */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    touch-action: manipulation;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

.chess-container {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.game-info-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}